@tailwind base;

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

.bg-colour-primary {
  background: #303031;
}
.bg-colour-dark {
  background: #121923;
}

#myVideo {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  background-color: #121923;
}

/*Vertical Sliding*/
.slidingVertical{
	display: inline;
	text-indent: 8px;
}
.slidingVertical span{
	animation: topToBottom 12.5s linear infinite 0s;
	-ms-animation: topToBottom 12.5s linear infinite 0s;
	-webkit-animation: topToBottom 12.5s linear infinite 0s;
	color: #EEB521;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}
.slidingVertical span:nth-child(2){
	animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}
.slidingVertical span:nth-child(3){
	animation-delay: 5s;
	-ms-animation-delay: 5s;
	-webkit-animation-delay: 5s;
}
.slidingVertical span:nth-child(4){
	animation-delay: 7.5s;
	-ms-animation-delay: 7.5s;
	-webkit-animation-delay: 7.5s;
}
.slidingVertical span:nth-child(5){
	animation-delay: 10s;
	-ms-animation-delay: 10s;
	-webkit-animation-delay: 10s;
}

/*topToBottom Animation*/
@-moz-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: translateY(50px); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(-50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-webkit-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: translateY(50px); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(-50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: translateY(50px); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(-50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}


.wrap-footer {
  margin-top: 10px;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

body {
  margin: 0;
  background: #121923;
  padding: 0;
}

.section-title {
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 80px;
}

.section-service-title {
  width: 333px;
height: 128px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
color: #FFFFFF;
}
.section-service-sub-title {
  width: 333px;
  height: 84px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 28px;
  color: #FFFFFF;
}

.wrap-service {
  padding-left: 50px;
  padding-right: 300px;
}

.service-end {
  display: flex;
  justify-content: end;
  margin-right: 200px;
}

.service-between {
  display: flex;
  justify-content: space-between;
}
.service-center {
  display: flex;
  justify-content: start;

}

.wrap-img-service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}




.active-nav {
  color: #EEB521;
}
.active-nav::after {
  content: '.';
  display: block;
  height: 1px;
  width: 20px;
  margin: 0px auto;
  text-indent: -9999px;
  border-top: 1px solid #EEB521;
}

.description-contact-us {
  width: 380px;
  padding: 30px;
}

.bg-section-contact-us {
  background: url('../../public/assets/images/wave.png');
  background-color: #121923;
  padding: 40px;
}

.bg-section-we {
  background: url('../../public/assets/images/farhan.png'), url('../../public/assets/images/mufti.png');
  background-color: #121923;
  background-repeat: no-repeat, no-repeat;
  background-position: left, right;
  background-size:  contain;
  padding: 80px;
}

.bg-section-porto {
  background: url('../../public/assets/images/PORTFOLIO.png');
  background-color: #121923;
  background-repeat: no-repeat;
  background-position: right;

}

#input-text {
background: #FFFFFF;
border-radius: 8px;
}
.title {
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */
color: #FFFFFF;
}

.sub-title {
 font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 28px;
/* identical to box height, or 175% */


color: #FFFFFF;
}

.img-mini {
  display: none;
}

/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .service-between {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .section-title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
  }

  .img-mini {
    display: block;
  }
  .img-full {
    display: none;
  }

  .wrap-service {
   margin: 30px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .service-end {
    margin-right: 0px;
  }
}
 
/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {
  .wrap-service {
    padding-left: 50px;
    padding-right: 50px;
  }

  .service-end {
    margin-right: 0px;
  }
  
  
}
 
/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
 
}
 
/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {
  
}
 
/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
  .wrap-service {
    padding-left: 50px;
    padding-right: 200px;
  }
  
}
